.emptyCartText {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.backButton {
  font-size: 36px;
  background-color: transparent;
  border: none;
  margin-top: 40px;
}
.backButton:hover {
  cursor: pointer;
}
.totalOrderWrapper {
  display: flex;
  justify-content: right;
}
