.books {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.book {
  flex: 0 0 calc(100% / 3 - 24px);
  margin: 12px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
}
.book:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
