.books {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.book {
  flex: 0 0 calc(100% / 3 - 24px);
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

