.tabs {
  width: 544px;
  margin: 0 auto;
}
.tabsWrapper {
  margin-top: 50px;
}
.tabsContentWrapper {
  margin: 0 auto;
  width: 544px;
}

@media screen and (max-width: 768px) {
  .tabs {
    width: 300px;
  }
  .tabsContentWrapper {
    width: 300px;
  }
}
