* {
  list-style: none;
}
.books {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.subscribeWrapper {
  margin: 50px 0;
}
.title {
  margin: 30px 0 18px 0;
}
.notFound {
  display: flex;
  justify-content: center;
}
