.books {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.backButton {
  font-size: 36px;
  background-color: transparent;
  border: none;
  margin-top: 40px;
}
.backButton:hover {
  cursor: pointer;
}
.haventBooksText {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .haventBooksText {
    font-size: 30px;
    line-height: 55px;
  }
}
