.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e7;
}

.icon {
  font-size: 25px;
}
.iconWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.input {
  width: 500px;
  border-radius: 0px;
  height: 50px;
}
.searchBut {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  color: #313037;
  position: absolute;
  top: 2px;
  right: 20px;
  font-size: 25px;
}
.inputWrapper {
  display: flex;
  position: relative;
}
.icon:hover {
  cursor: pointer;
}
.burgerButton {
  display: none;
  font-size: 22px;
}
.burgerMenuWrapper {
  background-color: white;
  right: 10px;
  top: 70px;
  position: absolute;
}
.burgerItem {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 1120px) {
  .burgerButton {
    display: block;
  }
  .input {
    width: 300px;
  }
  .favBut {
    display: none;
  }
  .userBut {
    display: none;
  }
}
