@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  border: none;
  background-color: #313037;
  color: white;
  font-family: "Bebas Neue", sans-serif;
}
.button:hover {
  background-color: #5b5a62;
  cursor: pointer;
}
.button:disabled {
  background-color: #a8a8a8;
}
