.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 0;
}

.iconsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  margin-top: 12px;
}
