.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: calc(33.33% - 1rem);
  padding: 20px 0;
}

.iconsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
