.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e5e5;
  margin-top: 50px;
}
.content {
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .content {
    padding: 20px 10px;
  }
  .fontSize {
    font-size: 16px;
  }
}
