.wrapper {
  max-width: 1120px;
  margin: 0 auto;
}
.app {
  max-width: 1120px;
  margin: 0 auto;
}
.main {
  min-height: calc(100vh - (95px + 170px));
}
.header {
  max-height: 95px;
  margin: 0 auto;
}
.footer {
  margin: 0 auto;
}

@media screen and (max-width: 1120px) {
  .app {
    max-width: 688px;
  }
  .header {
    max-width: 688px;
  }
  .footer {
    max-width: 688px;
  }
}
@media screen and (max-width: 768px) {
  .app {
    max-width: 350px;
  }
  .header {
    max-width: 350px;
  }
  .footer {
    max-width: 350px;
  }
}
