.slick-prev::before {
  color: black;
}

.slick-next::before {
  color: black;
}
.slick-next {
  top: -10px;
  right: 10px;
}
.slick-prev {
  top: -10px;
  left: initial;
  right: 50px;
}

/* .slick-track {
  display: flex !important;
} */

/* .slick-slide > div {
  height: 100%;
} */

/* .slick-slide {
  height: inherit !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
} */
